<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{'REGISTRAZIONE_TITOLO' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="animated fadeIn login auth-page ion-padding">

  <div class="theme-bg"></div>
  <div class="auth-content"></div>

  <!-- SignUpForm -->
  <form [formGroup]="signUpFormModel" class="list-form">
    <ion-item class="text08">
      <ion-icon name="person" class="ion-padding-end ion-align-items-start" ></ion-icon>
      <ion-input  placeholder="{{'NOME' | translate}}" class="ion-padding-start"   formControlName="nome"></ion-input>
    </ion-item>

    <ion-item class="text08">
      <ion-icon name="person" class="ion-padding-end ion-align-items-start" ></ion-icon>
      <ion-input  placeholder="{{'COGNOME' | translate}}" formControlName="cognome"></ion-input>
    </ion-item>


    <ion-item class="text08">
      <ion-icon name="at" class="ion-padding-end" ></ion-icon>
      <ion-input  placeholder="{{'EMAIL' | translate}}" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="text08">
      <ion-icon name="lock" class="ion-padding-end ion-align-items-start"></ion-icon>
      <ion-input  type="password" placeholder="{{'PASSWORD' | translate}}" class="ion-padding-start"  formControlName="password"></ion-input>
    </ion-item>

    <ion-item class="text08">
      <ion-icon name="call" class="ion-padding-end ion-align-items-start" ></ion-icon>
      <ion-input  placeholder="{{'TELEFONO' | translate}}" class="ion-padding-start"  formControlName="telefono"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>{{'RUOLO_PREFERITO' | translate}}</ion-label>
        <ion-select placeholder="{{'SELEZIONA' | translate}}" formControlName="ruolo" [okText]="'OKOPTION' | translate" [cancelText]="'ANNULLA' | translate">
          <ion-select-option *ngFor="let r of ruolo | async " [value]="r.nome_ruolo" >{{r.nome_ruolo.toUpperCase() | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top">
      <ion-button size="medium" expand="full" shape="round" color="primary" (click)="onSignUp()"   [disabled]="!signUpFormModel.valid" tappable>
        <ion-icon slot="start" name="done-all" class="ion-padding-end" ></ion-icon>
        {{ 'CONFERMA_REGISTRAZIONE_BOTTONE' | translate }}
      </ion-button>
    </div>

    <div class="ion-margin-top">
      <ion-button class="bordo" size="medium" fill="outline" expand="full" shape="round" color="light" (click)="onLogin()"   tappable>
        <ion-icon slot="start" name="log-in"  class="ion-padding-end text-primary" ></ion-icon>
        <p class="text-primary">{{ 'LOGIN_BOTTONE' | translate }}</p>
      </ion-button>
    </div>
  </form>
</ion-content>

