.swiper-slide {
  display: block;
  color: #800517;

}
ion-slide > h2 {
  margin-top: 1.2rem;
}
ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin-top: 40px;

}

.titolo {
  font-size: 22px;
  margin-top: 1.0rem;
}

.fotos {
  height: 20px;
  width: 20px;
}

.cards {
  border-left: 5px solid forestgreen;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cardst {
  border-left: 5px solid darkred;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bordo{
  border: solid;
  border-radius: 30px;
  border-color: #000000;
}
