<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{'DETTAGLIO_PARTITA_TITOLO' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/partite" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


 <ion-card class="back cardst ion-margin " *ngIf="(partita$ | async) as p">
    <ion-card-header>

      <ion-card-title class="text-dark">
        <ion-item>
        <div>
          <ion-icon name="clipboard"></ion-icon>
          <b>{{'TITOLO' | translate}}</b>{{p[0].titolo}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="calendar" icon="left"></ion-icon>
          <b>{{'DATA' | translate}}</b>
          {{(p[0].data_ora| date:'dd/MM/yyyy')}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="time" slot="start" icon="left"></ion-icon>
          <b>{{'ORA' | translate}}</b>
          {{(p[0].data_ora| date:'hh:mm')}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="globe" slot="start" icon="left"></ion-icon>
          <b>{{'LUOGO' | translate}}</b>
          {{p[0].luogo}}
        </div>
        </ion-item>


        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="book" slot="start" icon="left"></ion-icon>
          <b>{{'DESCRIZIONE' | translate}}</b>
          {{p[0].descrizione}}
        </div>
        </ion-item>

        <div class="ion-text-center">
        <ion-button  *ngIf="p[0].id_organizzatore.id != utente$.getValue().id
                                                 && this.Ifpartecipa <=0 && p[0].numero_giocatori > 0 " class="bordo ion-margin-top ion-margin-end ion-margin-start" slot="center" expand="block" shape="round" color="primary"
                    size="small" (click)="onPartecipa(p[0])">
          <ion-icon slot="start" name='create'></ion-icon>
          <b> {{'PARTECIPA' | translate}}</b>
        </ion-button>

        <ion-button class="bordo ion-margin-top ion-margin-end ion-margin-start" slot="center" expand="block" shape="round" color="primary"
                         size="small" (click)="onDelete(p[0])" *ngIf="p[0].id_organizzatore.id ==utente$.getValue().id">
          <ion-icon slot="start" name='create'></ion-icon>
          <b> {{'ELIMINA_PARTITA_BOTTONE' | translate}}</b>
        </ion-button>

        <ion-button class="bordo ion-margin-top ion-margin-end ion-margin-start" slot="center" expand="block" shape="round" color="primary"
                                                 size="small" (click)="rimuoviPartecipazione(p[0])" *ngIf="this.Ifpartecipa > 0 && p[0].id_organizzatore.id != utente$.getValue().id">
          <ion-icon slot="start" name='create'></ion-icon>
          <b> {{'RIMUOVI_PARTECIPAZIONE' | translate}}</b>
        </ion-button>

          <ion-button class="bordo ion-margin-top ion-margin-end ion-margin-start" slot="center" expand="block" shape="round" color="primary"
                      size="small" *ngIf="p[0].numero_giocatori<=0 && p[0].id_organizzatore.id != utente$.getValue().id">
            <ion-icon slot="start" name='create'></ion-icon>
            <b> {{'PARTITA_COMPLETA' | translate}}</b>
          </ion-button>
        </div>
      </ion-card-title>

    </ion-card-header>
      <ion-item-divider class="ion-no-margin ion-no-padding"></ion-item-divider>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-text-left ion-padding-start=30px">
          <ion-icon name="person" class="ion-float-start ion-margin-end"></ion-icon>
          {{"   " + p[0].numero_giocatori}} {{'GIOCATORI_RICHIESTI' | translate}}
        </ion-col>

<ion-col></ion-col>
      </ion-row>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Partecipanti
    </ion-list-header>

    <ion-item *ngFor="let giocatore of partecipanti$|async" >
      <ion-avatar slot="start">
        <img src="../../../assets/images/martello.jpg">
      </ion-avatar>
      <ion-label>
        <h2><b>{{giocatore.nome + " " + giocatore.cognome}}</b>, {{giocatore.id_ruolo.nome_ruolo}} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
