<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{'DETTAGLIO_PARTITA_TITOLO' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/partite" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="back cardst ion-margin " *ngIf="(partita$ | async) as p">
    <ion-card-header>

      <ion-card-title class="text-dark">
        <ion-item>
        <div>
          <ion-icon name="clipboard"></ion-icon>
          <b>Titolo</b> :  {{p['details'].titolo}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="calendar" icon="left"></ion-icon>
          <b> Data :</b>
          {{(p['details'].data_ora| date:'dd/MM/yyyy')}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="time" slot="start" icon="left"></ion-icon>
          <b>Ora :</b>
          {{(p['details'].data_ora| date:'hh:mm')}}
        </div>
        </ion-item>

        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="globe" slot="start" icon="left"></ion-icon>
          <b>Luogo :</b>
          {{p['details'].luogo}}
        </div>
        </ion-item>


        <ion-item>
        <div class="ion-margin-top">
          <ion-icon name="book" slot="start" icon="left"></ion-icon>
          <b>Descrizione :</b>
          {{p['details'].descrizione}}
        </div>
        </ion-item>

        <div class="ion-text-center"><ion-button class="bordo ion-margin-top ion-margin-end ion-margin-start" slot="center" expand="block" shape="round" color="primary"
                         size="small">
          <ion-icon slot="start" name='create'></ion-icon>
          <b> PARTECIPA</b>
        </ion-button>
        </div>
      </ion-card-title>

    </ion-card-header>
      <ion-item-divider class="ion-no-margin ion-no-padding"></ion-item-divider>
      <ion-row class="ion-no-padding">
        <ion-col class="ion-text-left ion-padding-start=30px">
          <ion-icon name="person" class="ion-float-start ion-margin-end"></ion-icon>
          {{"   " + p['details'].numero_giocatori}} posti disponibili
        </ion-col>

<ion-col></ion-col>

      </ion-row>

  </ion-card>




 <!-- <div class="dettagli" >
    <ion-button *ngIf="m.organizzatore == this.idG" icon-left size="medium" expand="full" shape="round" color="primary" (click)="onDelete()"  tappable>
      <ion-icon name="heart"></ion-icon>
      Elimina partita
    </ion-button>

    <ion-button *ngIf="m.organizzatore != this.idG && this.partecipa <=0 && m.numero_giocatori > 0 " icon-left size="medium" expand="full" shape="round" color="primary" (click)="onPartecipa()"  tappable>
      <ion-icon name="heart"></ion-icon>
      Partecipa
    </ion-button>


    <ion-button *ngIf="this.partecipa > 0 && m.organizzatore != this.idG" icon-left size="medium" expand="full" shape="round" color="primary"  (click)="removeP()"  tappable>
      <ion-icon ></ion-icon>
      Rimuovi partecipazione
    </ion-button>

    <ion-button *ngIf="m.numero_giocatori<=0 && m.organizzatore != this.idG" icon-left size="medium" expand="full" shape="round" color="primary"   tappable>
      <ion-icon ></ion-icon>
      Non ci sono più posti
    </ion-button>
  </div> -->



</ion-content>
