<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">{{'PROFILO_TITOLO' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-item class="animated fadeInUp ion-no-padding ">
            <ion-avatar class="item-avatar ion-margin-start">
                <img src="../../../assets/images/martello.jpg" class="slot ion-margin-top">
            </ion-avatar>
            <ion-label class="ion-text-center text15">
                <b>{{ utente$.getValue().nome + " " + utente$.getValue().cognome}}</b>
                <p *ngIf="utente$.getValue().descrizione != null">{{utente$.getValue().descrizione}}</p>
            </ion-label>
        </ion-item>
    </div>
    <section>
        <ion-button class="ion-float-end ion-text-center ion-no-margin ion-padding-end" size="small" shape="round"
                    color="primary" (click)="update()" tappable>
            <ion-icon name='create' slot="start" color="light"></ion-icon>
            {{ 'MODIFICA_DESCRIZIONE_BOTTONE' | translate }}
        </ion-button>
    </section>

    <ion-grid class="ion-margin ion-padding-top">
        <ion-row class="ion-margin-top">
            <ion-col>
                <div>
                    <ion-text color="primary" class="text12"><b>{{'RUOLO_PREFERITO' | translate}}</b></ion-text>
                    <ion-chip class="ion-margin-top" outline color="dark" slot="start">
                        <ion-avatar slot="start">
                            <img src="../../../assets/images/martello.jpg">
                        </ion-avatar>
                        <ion-label><b>{{utente$.getValue().ruolo.nome_ruolo.toUpperCase()}}</b></ion-label>
                    </ion-chip>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-text color="primary" class="text12"><b>{{'PARTITE_GIOCATE' | translate}} </b></ion-text>
                </div>
                <div class="ion-margin-start ion-margin-top">
                    <ion-text class="text12"><p
                            class="ion-text-center ion-no-margin ion-no-padding"> {{utente$.getValue().partite_totali}} </p>
                    </ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-label class="ion-margin-start ion-padding-start" color="primary" > {{'FEEDBACK' | translate}}</ion-label>
    <ion-grid>
        


       <!-- <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <div class="ion-margin-start">
                        <p class="text30 ion-margin-start">{{numero}}</p>
                        <ion-icon *ngIf="index==0" name="star-outline"></ion-icon>
                        <ion-icon *ngIf="index>0&&index<1" name="star-half" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>1||index==1" name="star" color="primary"></ion-icon>
                        <ion-icon *ngIf="index<1" name="star-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>1&&index<2" name="star-half" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>2||index==2" name="star" color="primary"></ion-icon>
                        <ion-icon *ngIf="index<2" name="star-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>2&&index<3" name="star-half" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>3||index==3" name="star" color="primary"></ion-icon>
                        <ion-icon *ngIf="index<3" name="star-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>3&&index<4" name="star-half" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>4||index==4" name="star" color="primary"></ion-icon>
                        <ion-icon *ngIf="index<4" name="star-outline" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>4&&index<5" name="star-half" color="primary"></ion-icon>
                        <ion-icon *ngIf="index>5||index==5" name="star" color="primary"></ion-icon>
                        <div class="ion-no-margin" class="ion-no-padding" class="ion-text-center">
                            <p class="text08"> {{'VALUTAZIONI' | translate}}: {{i}}</p>
                        </div>
                    </div>
                </ion-item>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>-->
    </ion-grid>
    <ion-list id="list">
        <ion-list-header>
            Commenti recenti
        </ion-list-header>

        <ion-item *ngFor="let f of feedback$ | async">
            <ion-avatar slot="start">
                <img src="../../../assets/images/martello.jpg">
            </ion-avatar>
            <ion-label *ngIf="f.commento!='null'">
                <h2><b>{{f.id_giocatore_votante.nome}}</b></h2>
                <h3>{{f.commento}}</h3>
                <ion-icon *ngIf="f.voto>0&&f.voto<1" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>1||f.voto==1" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<1" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>1&&f.voto<2" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>2||f.voto==2" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<2" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>2&&f.voto<3" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>3||f.voto==3" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<3" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>3&&f.voto<4" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>4||f.voto==4" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<4" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>4&&f.voto<5" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>5||f.voto==5" name="star" color="primary"></ion-icon>
            </ion-label>

            <ion-label *ngIf="f.commento=='null'">
                <h2><b>{{f.id_giocatore_votante.nome}}</b></h2>

                <ion-icon *ngIf="f.voto>0&&f.voto<1" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>1||f.voto==1" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<1" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>1&&f.voto<2" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>2||f.voto==2" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<2" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>2&&f.voto<3" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>3||f.voto==3" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<3" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>3&&f.voto<4" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>4||f.voto==4" name="star" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto<4" name="star-outline" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>4&&f.voto<5" name="star-half" color="primary"></ion-icon>
                <ion-icon *ngIf="f.voto>5||f.voto==5" name="star" color="primary"></ion-icon>
            </ion-label>
        </ion-item>

    </ion-list>
    <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

