<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">{{ 'LOGIN_TITOLO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="animated fadeIn login auth-page ion-padding">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div  class="animated fadeInDown ion-padding-horizontal ion-text-center">
      <div class="logo"></div>
    </div>
  </div>


  <!-- Login form -->
  <form [formGroup]="loginFormModel" class="list-form">
    <ion-item  class="animated fadeInUp ion-no-padding">
      <ion-label position="floating">
        <ion-icon slot="start" name="contact" ></ion-icon>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input color="dark" type="email" formControlName="email"></ion-input>
    </ion-item>

    <p class="text08" *ngIf="loginFormModel.get('email').touched && loginFormModel.get('email').invalid">
      <ion-text color="danger" >{{ 'EMAIL_RICHIESTA' | translate }}</ion-text>
    </p>

    <ion-item  class="animated fadeInUp ion-no-padding" slot="start">
      <ion-label position="floating">
        <ion-icon name="lock"></ion-icon>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input color="dark" type="password" formControlName="password"></ion-input>
    </ion-item>

    <p class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
      <ion-text color="danger">{{ 'PASSWORD_RICHIESTA' | translate }}</ion-text>
    </p>

    <div class="ion-margin-top ion-padding-top">
      <ion-button size="medium" expand="full" shape="round" color="primary" (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable>
        <ion-icon slot="start" name="log-in"></ion-icon>
        {{ 'LOGIN_BOTTONE' | translate }}
      </ion-button>
    </div>

    <div class="ion-margin-top">
      <ion-button class="bordo" size="medium" fill="outline" expand="full" shape="round"  color="light"   (click)="onRegister()"  tappable>
        <ion-icon slot="start" class="text-primary" name="create"></ion-icon>
        <p class="text-primary"> {{ 'REGISTRAZIONE_BOTTONE' | translate }}</p>
      </ion-button>
    </div>

  </form>
</ion-content>
