<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{'PARTITE_TITOLO' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="ion-padding-top"  animated="true" autocorrect="on" ></ion-searchbar>


  <ion-list>
    <ion-card class="back ion-margin" >
      <ion-card-header>
        <ion-card-subtitle>  <div ><ion-icon name="person" ></ion-icon> Ciao </div> </ion-card-subtitle>
        <ion-card-title> Titolo </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        data e ora
        <ion-row class="ion-no-padding">
          <ion-col class="ion-text-left ion-padding-start=30px">
            <ion-button class="ion-float-end" color="primary" icon-start size="small" routerDirection="forward" >
              <ion-icon name='create'></ion-icon>
              {{'MATCH_DETAILS' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <!-- fab placed to the top end -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuova()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
